/* @import-normalize; bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  color: #1da1f2;
  margin-left: 16px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
  margin-left: 16px;
}

ul, li, p, h1, h2 {
  list-style: none;
}
